@{ var idUsuario = HttpContext.Current.Application["idUsuario"]; }
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/images/faviconupme.ico" type="mage/vnd.microsoft.icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script>
        var idUsuario = "@idUsuario";
      //  alert("IdUsuario: "+idUsuario);
    </script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Mapcss")
    @Styles.Render("~/Content/app")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/leaflet")
    @Scripts.Render("~/bundles/esrileaflet")
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top concrete" role="banner">
        <div class="navbar-header ">
            <a class="navbar-brand" href="https://www.upme.gov.co" target="_blank"><img src="~/images/logo.png" alt="logo" height="45"></a>
        </div>
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="barnavegacion"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UPME </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
